<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from em120.netlify.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Nov 2018 10:36:43 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Site Title -->
    <title>PATEL TANAKA</title> <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- Font Owesome File -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css"> <!-- Lightbox Stylesheet Css -->
    <link rel="stylesheet" href="css/lightbox.min.css"> <!-- bootstrap File -->
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="css/style.css"> <!-- OPtion Color Light / Dark -->
    <link rel="stylesheet" href="css/background-light-0.css"> <!-- Color Option Type ( 4 Color ) -->
    <link rel="stylesheet" href="css/color-style-0.css">
</head>

<body>
    <div class="body-site">
        <!-- Start Body Sity -->
        <!--=========== Start Tool Box ===========-->
       
        <!--=========== End Tool Box ===========-->
        <div class="navbar-header background-2">
            <!--=========== Start Navbar ============-->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container"> <a class="navbar-brand" href="/"> <img  style="height:80px" src="images/logo.jpeg">Tello</a>  <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse text-uppercase" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-1">services</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-2">About</a></li>
                
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-4">Technologies</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-5">Resume</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-6">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--=========== End Navbar ============-->
            <!--=========== Start Header ============-->
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="image-header text-center"> <img class="img-fluid" src="images/telzy.jpeg" alt="image">
                                <div class="icons-head">
                                    
                                    
                                     <a href="https://www.linkedin.com/in/patel-tanaka-3355a6100/"><i class="fa fa-linkedin icon-style"></i></a> <a
                                        href="#"><i class="fa fa-home icon-style"></i></a> <a href="https://github.com/TELLO-TEL"><i class="fa fa-github icon-style"></i></a>
                                    <a href="https://twitter.com/PatizyTel"><i class="fa fa-twitter icon-style"></i></a> </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-header">
                                <h1>PATEL,TANAKA  &#x1F60E;<br><span class="color-name"><br>full stack developer</span> </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--=========== End Header ============-->
        </div>
        <!--=========== Start Services Section ============-->
        <section id="se-1" class="services text-center">
            <div class="container">
                <div class="head-section">
                    <h2>services</h2>
                </div>
                <div class="owl-carousel">
                    <!-- Start Item 1 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-code fa-3x mb-3"></i>
                            <h4 class="card-title">Development</h4>
                            <div class="line-card"></div>
                            <p class="card-text">font-end and backend developer using the most cuting age technologies.</p>
                        </div>
                    </div> <!-- End Item 1 -->
                    <!-- Start Item 2 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-database fa-3x mb-3"></i>
                            <h4 class="card-title">Database systems</h4>
                            <div class="line-card"></div>
                            <p class="card-text">good with databse systems eg:nosql ,mysql graphql & sql</p>
                        </div>
                    </div> <!-- End Item 2 -->
                    <!-- Start Item 3 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-laptop fa-3x mb-3"></i>
                            <h4 class="card-title">Web Design</h4>
                            <div class="line-card"></div>
                            <p class="card-text">highly scalable  websites and web applications</p>
                        </div>
                    </div> <!-- End Item 3 -->
                    <!-- Start Item 4 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-terminal fa-3x mb-3"></i>
                            <h4 class="card-title">system admin</h4>
                            <div class="line-card"></div>
                            <p class="card-text">server maintanance and upgrades</p>
                        </div>
                    </div> <!-- End Item 4 -->
                    <!-- Start Item 5 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-briefcase fa-3x mb-3"></i>
                            <h4 class="card-title">Support</h4>
                            <div class="line-card"></div>
                            <p class="card-text">able to provide support to online systems</p>
                        </div>
                    </div> <!-- End Item 5 -->
                    <!-- Start Item 6 -->
            <!-- End Item 6 -->
                </div> <!-- End owl carousel -->
            </div>
        </section>
        <!--=========== End Services Section ============-->
        <!--=========== Start About Section ============-->
        <section id="se-2" class="about background-2 ">
            <div class="container">
                <div class="head-section">
                    <h2>About Me &#x1F603;</h2>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="head-about mb-4">
                            <p> COMPUTER SCIENTIST  &#x1F525; AND SOFTWARE DEVELOPER &#x1F525;
<br>
well known as <strong>TELLO</strong> currently majoring in computer science ,
male student who likes programmng and anthing that is tech-related	<br>

Before I went to college, I knew little about computers but had passion with computers. After 4 years, I can implement what I think in mind with code. It's exciting! </p>
                        </div>
                        <ul class="list-unstyled p-0">
                            <li>
                                <p>Name<span>:</span></p> <span>Patel Tanaka</span>
                            </li>
                          
                            <li>
                                <p>E-mail<span>:</span></p> <span>pateltanaka22@live.com</span>
                            </li>
                          
                            <li>
                                <p>Location<span>:</span></p> <span>Harare,Zimbabwe</span>
                            </li>
                          
                        </ul> 
                    </div>
                    <div class="col-md-5 hidden-md">
                        <div class="img-about"> <a href="images/frame.jpeg" data-lightbox="me" data-title="TELLO"><img
                                    class="img-fluid" style="height:600px ;width:700px" src="images/frame.jpeg" alt="me"></a> </div>
                    </div>
                </div> <!-- row -->
            </div>
        </section>
        <!--=========== End About Section ============-->
        <!--=========== Start Skills Section ============-->
      
        {{{body}}}
        <!--=========== End Skills Section ============-->
        <!--=========== Start Works Section ============-->
        <section id="se-4" class="works background-2">
            <div class="container">
                <div class="head-section text-center">
                    <h2>Technoliges</h2>
                </div>
                <ul class="shuffle list-unstyled text-center">
                    <li class="selected" data-filter="all">All</li>
                   
                 
                </ul>
                <div class="gallery contact">
                    <!-- Satrt Gallery -->
                    <div class="row">
                        <div class="mix ws col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="images/vue.png" data-lightbox="image-1"
                                            data-title="vue.js"><i class="fa fa-search"></i></a> <a
                                            href="#"><i class="fa fa-link"></i></a> </div> <img src="images/vue.png" style="height:200px"
                                        alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">vue.js</h6> 
                                </div>
                            </div>
                        </div>
                        <div class="mix gr col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="images/react.png" data-lightbox="image-1"
                                            data-title="React.js"><i class="fa fa-search"></i></a> <a
                                            href="#"><i class="fa fa-link"></i></a> </div> <img src="images/react.png" style="height:200px"
                                        alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">React.js</h6>
                                </div>
                            </div>
                        </div>
                        <div class="mix ws col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="images/node.svg.png"  data-lightbox="image-1"
                                            data-title="nodejs"><i class="fa fa-search"></i></a> <a
                                            href="#"><i class="fa fa-link"></i></a> </div> <img src="images/node.svg.png" style="height:200px"
                                        alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">Nodejs</h6>
                                </div>
                            </div>
                        </div>
                        <div class="mix ws col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="images/mongo-db-logo.png" data-lightbox="image-1"
                                            data-title="mongodb"><i class="fa fa-search"></i></a> <a
                                            href="#"><i class="fa fa-link"></i></a> </div> <img src="images/mongo-db-logo.png" style="height:200px"
                                        alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">mongoDb</h6> 
                                </div>
                            </div>
                        </div>
                        <div class="mix gr col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="images/jav.png" data-lightbox="image-1"
                                            data-title="javascript"><i class="fa fa-search"></i></a> <a
                                            href="#"><i class="fa fa-link"></i></a> </div> <img src="images/jav.png" style="height:200px"
                                        alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">JavaScript</h6>
                                </div>
                            </div>
                        </div>
                        <div class="mix gr col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="images/ionic.png" data-lightbox="image-1"
                                            data-title="ionic for mobile"><i class="fa fa-search"></i></a> <a
                                            href="#"><i class="fa fa-link"></i></a> </div> <img src="images/ionic.png"  style="height:200px"
                                        alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">ionic for mobile</h6> 
                                </div>
                            </div>
                        </div>
                        <div class="mix wa col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="images/electron.png" data-lightbox="image-1"
                                            data-title="elctorn for desktop"><i class="fa fa-search"></i></a> <a
                                            href="#"><i class="fa fa-link"></i></a> </div> <img src="images/electron.png" style="height:200px"
                                        alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">electron for desktop</h6> 
                                </div>
                            </div>
                        </div>
                        <div class="mix wa col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="images/logo.svg" data-lightbox="image-1"
                                            data-title="graph query language" ><i class="fa fa-search"></i></a> <a
                                            href="#"><i class="fa fa-link"></i></a> </div> <img src="images/logo.svg" style="height:200px"
                                        alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">Graph QL</h6> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Gallery -->
            </div>
        </section>
        <!--=========== End Works Section ============-->
        <!--=========== Start Resume Section ============-->
        <section id="se-5" class="resume">
            <div class="head-section text-center">
                <h2>Resume</h2>
            </div>
            <div class="container ex-container">
                <div class="work-experiense">
                    <!-- Start Work Experiense -->
                    <div class="ex-block mb-head ex-block-right">
                        <div class="marker-head"><i class="fa fa-briefcase"></i></div>
                        <div class="ex-content b-r">
                            <h3>Work Experiense</h3>
                        </div>
                    </div>
                    <div class="ex-block ex-block-left">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow">
                            <h4>Freelancer</h4> <span>May 2015 -current</span>
                            <p> Believe it or not its just me.  </p>
                        </div>
                    </div>
                    <div class="ex-block ex-block-right">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow b-r">
                            <h4>Back End Developer - Elearning Solution</h4> <span> Feb 2017 - April 2017</span>
                            <p> resposible for the backend services of their applications </p>
                        </div>
                    </div>
                    <div class="ex-block ex-block-left">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow">
                            <h4>full-stack Developer @Sattech</h4> <span>July 2018 -present</span>
                            <p> acurrently working as a full stack developer </p>
                        </div>
                    </div>
                </div> <!-- End Work Experiense -->
                <div class="education">
                    <!-- Start Education -->
                    <div class="ex-block mb-head mt-head ex-block-right">
                        <div class="marker-head"><i class="fa fa-graduation-cap"></i></div>
                        <div class="ex-content b-r">
                            <h3>Education</h3>
                        </div>
                    </div>
                    <div class="ex-block ex-block-left">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow">
                            <h4>Harare Institute of Technology</h4> <span>June 2016 - September 2020</span>
                            <p> currently persuing an under-grad degree  in computer-science and engineering. @ HIT </p>
                        </div>
                    </div>
                  
                </div> <!-- End Education -->
            </div>
        </section>
        <!--=========== End Resume Section ============-->
        <!--=========== Start Clients Section ============-->
       <!-- <section class="clients background-2">
            <h2 class="d-none">Clients</h2>
            <div class="container">
                <div class="owl-carousel"> <a href="#" class="item"><img src="images/clients/client_1.png" alt="clinet image"></a>
                    <a href="#" class="item"><img src="images/clients/client_2.png" alt="clinet image"></a> <a href="#"
                        class="item"><img src="images/clients/client_3.png" alt="clinet image"></a> <a href="#" class="item"><img
                            src="images/clients/client_4.png" alt="clinet image"></a> <a href="#" class="item"><img src="images/clients/client_5.png"
                            alt="clinet image"></a> <a href="#" class="item"><img src="images/clients/client_6.png" alt="clinet image"></a>
                    <a href="#" class="item"><img src="images/clients/client_7.png" alt="clinet image"></a> <a href="#"
                        class="item"><img src="images/clients/client_8.png" alt="clinet image"></a> </div>
            </div>
        </section>

        <!--=========== End Clients Section ============-->
        <!--=========== Start Contacts Section ============-->
        <section id="se-6" class="contacts">
            <div class="container">
                <div class="head-section text-center">
                    <h2>get in touch</h2>
                </div>
                <div class="row">
                    <div class="col-lg-8 m-auto">
                        <!-- Form Contact -->
                        <form>
                            <div class="row box-form">
                                <div class="col-12 col-lg-6"><input name="name" class="form-control mt-3" placeholder="Name"
                                        type="text"></div>
                                <div class="col-12 col-lg-6"><input name="email" class="form-control mt-3" placeholder="Email"
                                        type="email"></div>
                                <div class="col-12"><input name="Subject" class="form-control mt-3" placeholder="Subject"
                                        type="text"></div>
                                <div class="col-12"><textarea class="mt-3 form-control" placeholder="Your Message here.."
                                        rows="3"></textarea></div>
                                <div class="m-auto"><button name="send" type="submit" class="mt-3 btn">Send Message</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <!-- Google Map -->
                        <div class="contact"> <iframe width="100%" height="409" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%D8%B4%D8%B1%D9%83%D8%A9%20%D9%85%D8%A7%D8%AA%D8%B1%D9%8A%D9%83%D8%B3%20%D8%AF%D9%83%D8%B1%D9%86%D8%B3&amp;key=AIzaSyC_jve2E_L-PR_6Ami-1ySq7LeGyXZh0tA"
                                allowfullscreen></iframe> </div>
                    </div>
                </div> <!-- Row -->
            </div>
        </section>
        <!--=========== End Contacts Section ============-->
    </div> <!-- End Body Sity -->
    <!--=========== Start Footer Section ============-->
    <footer class="footer text-center">
        <h2>Tello &#x1F60E; 2018 </h2>
        <div class="text-cenater"> <a href="#"><i class="fa fa-linkedin icon-style"></i></a> <a href="#"><i class="fa fa-dribbble icon-style"></i></a>
            <a href="#"><i class="fa fa-behance icon-style"></i></a> <a href="#"><i class="fa fa-instagram icon-style"></i></a>
            <a href="#"><i class="fa fa-facebook icon-style"></i></a> <a href="#"><i class="fa fa-twitter icon-style"></i></a>
        </div>
    </footer> <span class="rights">All Rights Reserved © 2018 <a href="" target="blank">Tello</a></span>
    <!--=========== End Footer Section ============-->
    <!--=========== Start Loading Section ============-->
    <div class="loading-over">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!--=========== End Loading Section ============-->
    <!--=========== Start Scroll Top ===========-->
    <div class="scroll-top"> <i class="fa fa-arrow-up"></i> </div>
    <!--=========== End Scroll Top ===========-->
    <!-- Jquery Library 3.2.1 JavaScript-->
    <script src="js/jquery-3.2.1.min.js"></script> <!-- Popper JavaScript-->
    <script src="js/popper.js"></script> <!-- Bootstrap JavaScript-->
    <script src="js/bootstrap.min.js"></script> <!-- Owl Carousel Plugin JavaScript -->
    <script src="js/owl.carousel.min.js"></script> <!-- Mixitup Plugin JavaScript -->
    <script src="js/mixitup.min.js"></script> <!-- Lightbox Plugin JavaScript -->
    <script src="js/lightbox.min.js"></script>
    <!--Custom JavaScript for Mego Template-->
    <script src="js/main.js"></script>
</body>


</html>